.peaksCon{
  position: relative;
  top: 10px;
}
.skillPreviewCon{
  position: relative;
  /*border: 1px solid white; /*TODO: remove this after preview is finalized*/
  height: 50px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-top: 20px;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  height: 0px;
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: transparent;
}

.skillPreview{
  position: relative;
  display: inline-block;
  height: 40px;
  width: 80px;
  border: 1px solid white;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  cursor: pointer;
  margin-top: 5px;
}

.skillPreview--selectedSkill{
  border-color: red;
  color: red;
  background: rgba(0, 0, 0, 0.4)
}

.skillPreview--unuploaded{
  border-color: red;
  color: orange;
  background: rgba(0, 0, 0, 0.4)
}

.skillPreview__concept{
  font-size: 10px;
  margin: 0px;
}

.skillPreview__timeLearned{
  font-size: 10px;
  margin: 0px;
}