.panel{
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.8);
  transition: 0.3s;
  border-radius: 5px;
  width: 375px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85));
  display: inline-block;
  margin: 10px;
  opacity: 1;
  padding-top: 10px;
  padding-bottom: 20px;
}

.panel__listItem{
  text-align: left;
}

.panel__btn--submit{
 color: white;
}


.img--panel--small {
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 50px;
  margin: 10px;
}

.panel__top{
  float: left;
  left: 10px;
  position: relative;
}

.panel__header{
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}

.panel__content{
  display: inline-block;
}

.panel__topic{
  text-align: center;
  margin-left: 35px;
}

.panel--eval__cell {
  margin-bottom: 45px;
}


.survey__radioUnit{
  display: inline-block;
}
.survey__radio__label {
  display: inline-block;
}

.survey__radio__radio{
  display: inline-block;
}