.padding {
  height: 30px;
}

.App {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url("/images/background.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: black;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  height: 1000px;
  width:100%;
}

.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.splithr {
  border: 0;
  height: 1px;
  width: 80%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.15), red, rgba(255, 255, 255, 0.15));
  position: relative;
  margin: 0 auto;
}