.img--card--small{
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: 100px;
  margin: 10px;
}


.card {
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.8);
  transition: 0.3s;
  border-radius: 5px;
  width: 500px;
  height: 500px;
  background-color: #ffe5c6;
  display: inline-block;
  margin: 10px;
}

.card--lineGraph {
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.8);
  transition: 0.3s;
  border-radius: 5px;
  width: 800px;
  height: 500px;
  background-color: #ffe5c6;
  display: inline-block;
  margin: 20px;
  padding: 20px;
}

.card--pieGraph {
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.8);
  transition: 0.3s;
  border-radius: 5px;
  width: 800px;
  height: 500px;
  background-color: #ffe5c6;
  display: inline-block;
  margin: 20px;
  padding: 20px;
}

.card--text{
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.8);
  transition: 0.3s;
  border-radius: 5px;
  width: 800px;
  background-color: #ffe5c6;
  display: inline-block;
  margin: 20px;
  padding: 20px;
}

.card--text__content{
  display: inline-block;
  vertical-align: middle;
}

.card--text__content__header{
  text-align: left;
}

.card--text__content__desc{
  text-align: left;
}

.card--noCards {
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.8);
  transition: 0.3s;
  border-radius: 5px;
  height: 50px;
  background-color: #ffe5c6;
  display: inline-block;
  margin: 10px;
  width: 50%;
}

.chart--lineGraph{
}
